.git
.gitignore
README.md
node_modules
npm-debug.log
yarn-debug.log*
yarn-error.log*
.next
.storage
.cache
.env
.env.local
.env.production
.dockerignore
Dockerfile
docker-compose.yml
docker-compose.prod.yml